/* scss/templates/_front-page.scss */

.front-page {
	main {

		overflow: visible;

		section {
			@include fluid-type(padding-top, $bp-xs, $bp-xxxlg, $size8, $size9);
			@include fluid-type(padding-bottom, $bp-xs, $bp-xxxlg, $size7, $size9);
		}

		.floating-img-container {
			position: relative;
		}
		.bg-img {
			position: absolute;
		}

		.bg-img-usp {
			@include fluid-type(top, $bp-xs, $bp-xxlg, $size4, $size6);
			@include fluid-type(width, $bp-xs, $bp-xxlg, 25%, 55%);
			left: 0;
			z-index: -7;
			opacity: 0.5;
		}

		.bg-img-hashtags {
			right: 0;
			z-index: -7;
			@include fluid-type(top, $bp-xs, $bp-xxlg, -$size9, -$size9);
			@include fluid-type(width, $bp-xs, $bp-xxlg, 75%, 100%);
		}

		.bg-img-work {
			left: 0;
			z-index: -7;
			@include fluid-type(top, $bp-xs, $bp-xxlg, -$size9, -$size9);
			@include fluid-type(width, $bp-xs, $bp-xxlg, 45%, 80%);
			opacity: 0.4;
		}

		.bg-img-whitepaper{
			right: 0;
			z-index: -7;
			opacity: 0.2;
			@include fluid-type(width, $bp-xs, $bp-xxlg, 25%, 75%);
		}

	/*
	 *	Breakpoint: base
	 */
		h1, h2 {
			//@include fluid-type(padding-top, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
			//@include fluid-type(padding-bottom, $bp-sm, $bp-lg, $h1-overview-pad-min, $h1-overview-pad-max);
			-ms-word-break: normal;
			word-break: normal;
			-webkit-hyphens:none;
			-moz-hyphens:none;
			-ms-hyphens:none;
			hyphens:none;
		}

		h1 {
			font-size: $size4;
			line-height: $small-lh;
			@include fluid-type(font-size, $bp-xs, $bp-xxlg, $size5, $size8);
			@include fluid-type(padding-bottom, $bp-xs, $bp-xxlg, $size7, $size8);
		}

		h2 {
			font-size: $size4;
			@include fluid-type(font-size, $bp-xs, $bp-xxlg, $size5, $size7);
		}


		/*
	 	 *	Breakpoint: sm
	 	 */
		@media only screen and (min-width:$bp-sm) {


		}

		/*
	 *	Breakpoint: md
	 */
		@media only screen and (min-width:$bp-md) {


		}

	/*
	 *	Breakpoint: lg
	 */
		@media only screen and (min-width:$bp-lg) {

		}

	/*
	 *	Breakpoint: xlg
	 */
		@media only screen and (min-width:$bp-xlg) {

		}
	}

}



body.ie,
body.edge {
	&.front-page {
		h1, h2 {
			@include fluid-type(font-size, 12.5rem, 75rem, $h1-frontpage-min, 10rem);
		}

		@media only screen and (min-width:$bp-md) {

		}
	}
}
