/* scss/molecules/_headline-img.scss */

.header {
	position: relative;
	.header-text {
      h1 {
        font-weight: $regular;
        font-size: $size10;
        text-align: center;
	     }
     }
  }

.img-left-float{
  width: 45%;
}
